* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #666;
  min-height: 100vh;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ff6f6f, #ffcf30);
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateX(90deg) translateZ(75px);
}

.RectBox {
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.RectBox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
}

.RectBox::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.RectBox span:nth-child(1) {
  background: linear-gradient(to top, #ff8a8a, #ff5eff);
}

.RectBox span:nth-child(2) {
  background: linear-gradient(to top, #cbf8da, yellowgreen);
}

.RectBox span:nth-child(3) {
  background: linear-gradient(to top, #b1c0ff, #1115ff);
}

.RectBox span:nth-child(4) {
  background: linear-gradient(to top, #a0ffc4, turquoise);
}
